<% if (muser != user.user) { %>
	<div class="artist-item">	
		<a href="/<%=user.user %>">
			<div class="artist-info">
				<p class="artist-name"><%= user.user %></p>
				<p class="artist-genre"><%= user.genre %> Musician</p>	
			</div>
		</a>
		<% if (loggedin == true) { %>
			<div class="icon-container" id="icon-container-<%= user.user %>">
				<% if (following.indexOf(user.user) < 0 ) { %>
					<div class="icon" id="<%= user.user %>">
						+
					</div>
				<% } else { %>
					<div class="icon tagged" id="<%= user.user %>">
						-
					</div>
				<% } %>
			</div>
		<% } %>
	</div>
<% } %>