<div class="track-container iteration-container" id="container-<%= iteration.id %>">
	<div id="progress-<%= iteration.id %>" class="progress"></div>
	<div class="playback-control" id="playback-control-<%= iteration.id %>"></div>
	<audio id="player-<%= iteration.id %>" src="<%= iteration.content%>"></audio>
	<div class="iteration-info">
		<p class="iteration-title"><%=iteration.title %></p>
	</div>

	<div class="icon-container" id="icon-container-<%= iteration.id %>">
		<div class="icon download" id="iteration-download-<%= iteration.id %>">
		
		</div>
	</div>
</div>