<a href="projects/<%= project.id %>">
	<div class="project-container" id="container-<%= project.id %>">
		<div class="project-info">
			<p class="project-title"><%= project.title %></p>
			<p class="project-artist"> <%= project.creator %></p>
		</div>
		<div class="icon-container" id="icon-container-<%= project.id %>">
			<div class="icon rating" id="upvote-<%= project.id %>">
				+1
			</div>
		</div>
	</div>
</a>