<%
	var track_class = "track-container";
	if (add_class) {
		track_class += " " + add_class;
	}
%>

<div class="<%= track_class %>" id="container-<%= track.id %>">
	<div class="readyMask"></div>
	<div id="progress-<%= track.id %>" class="progress"></div>
<!-- 	<div class="play-control" id="play-control-<%= track.id %>"></div>
	<div class="pause-control" id="pause-control-<%= track.id %>"></div>
 -->	
 	<div class="player-info" id="player-<%= track.id %>" src="<%= track.content%>"></div>
	
	<div class="track-info">
		<p class="track-title"><%=track.title %></p>
		<% if (track.album != "undefined")  {  %>
			<p class="track-artist">by <%=track.artist %> on <%=track.album %></p>
		<% } else { %>
			<p class="track-artist">by <%=track.artist %></p>
		<% } %>

	</div>
	<div class="icon-container" id="icon-container-<%= track.id %>">
		<div class="icon download" id="download-<%= track.id %>">
			
		</div>
		<div class="icon rating" id="upvote-<%= track.id %>">
			+<%=track.rating %>
		</div>
	</div>

</div>
